@import url('https://fonts.googleapis.com/css2?family=Poppins:300,400,600.&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1509023464722-18d996393ca8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.calendar {
    width: 300px;
    height: auto;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(0, 0, 0, .5);
}

.calendar .image {
    width: 100%;
    height: 200px;
    background: url('https://images.unsplash.com/photo-1509023464722-18d996393ca8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
}

.calendar .image h2,
.calendar .image h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.calendar .image h3 {
    font-weight: 400;
}

.calendar .date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}

.calendar .date div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: #262626;
}

.calendar .date div.day {
    font-weight: 700;
}

.calendar .date div.day:first-child,
.calendar .date div.number:nth-child(7n+1) {
    color: #ff685d;
    font-weight: 700;
}

.calendar .date div.number.active {
    background: #009688;
    color: #fff;
    cursor: pointer;
}

.calendar .date div.number.active,
.calendar .date div.number:hover {
    background: #009688;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.calendar-2 {
    position: relative;
    background: #fff;
    width: 800px;
    height: 450px;
    justify-content: space-between;
    align-items: center;
    border: 15px solid #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    margin-right: 40px;
}

.calendar-2 .date {
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}
.calendar-2 .image img,
.calendar-2 .date h3 {
    margin: 0 0 20px;
    font-weight: 500;
    text-align: center;
}

.calendar-2 .date .days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-2 .date .days .day,
.calendar-2 .date .days .number {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-2 .date .days .day:first-child,
.calendar-2 .date .days .number:nth-child(7n+1){
    color: #f44336;
    font-weight: 600;
}

.calendar-2 .date .days .number.active,
.calendar-2 .date .days .number:hover{
    background: #009688;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.calendar-2 .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: #000;
}

.calendar-2 .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper{
    display: flex;
}

@media only screen and (max-width: 479px){
    .wrapper{
        display: block;
    }

}
    
